* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noteForm input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 3px 0 10px 0;
  font-size: 0.9em;
}
.noteForm select {
  display: block;
  width: 60%;
  margin: 0 auto 5px;
  height: 2em;
}
.noteForm textarea {
  height: 150px;
}

.noteForm label {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
}

legend {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  color: rgb(56, 143, 64);
}

.noteForm fieldset {
  background-color: white;
  margin-top: 20px;
  width: 60vw;
  height: auto;
  border: 1px solid rgb(56, 143, 64);
  margin-bottom: 15px;
}

.btn {
  padding: 12px;
  margin: 7px;
  width: 22vw;
  text-transform: uppercase;
}
